*{
    box-sizing: border-box;
}

body{
    background-color: rgb(10, 110, 204);

}

.container{
    display: block;
    align-items: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 900px;
}

.title{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    padding: 50px;
    margin-left: 15%;
    
}

.title h1{
flex: 50%;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
text-align: center;
margin-right: 0px;
}

.title img{
    width: 65px;
    height: 65px;
    margin-right: 40%;
    margin-left: 0;
    
}

#inputs{
    display: block;
    text-align: center;
    justify-content: center;
    margin-top: 5%;
    height: 600px;
    align-items: center;
}

#idadp, #idadf{
    padding: 8px;
    outline: none;
    margin-top: 65px;
    font-size: 20px;
}

.inputs label{
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
#idadp{
    border-color: yellow;
    border: none;
}
    #idadf{
border-color: red;
border: none;
    }

#btn{
    margin-top: 60px;
    padding: 15px;
    width: 250px;
}

#msga{
    margin-top: 50px;
    background-color: yellow;
    color: black;
    padding: 8px;
    display: none;
}

#msgc{
    margin-top: 50px;
    background-color: green;
    padding: 8px;
    display: none;
    color: azure;
}

#msge{
    margin-top: 50px;
    background-color: red;
    color: azure;
    padding: 8px;
    display: none;
}